<form method="post" action="<%= createOrgPath %>" enctype="multipart/form-data" novalidate>
    <div class="organization-field">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" />
    </div>
    <div class="organization-field">
      <label for="url">URL imagen</label>
      <input type="text" id="url" name="url" />
    </div>
    <div class="actions">
      <input class="organization-submit" type="submit" name="create" />
    </div>
  </form>