<form method="post" action="<%= submitRecipePath %>" enctype="multipart/form-data" novalidate>
    <div class="recipe-field">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" value="<%= recipe.name %>" />
    </div>
    <div class="recipe-field">
      <label for="image">Foto</label>
      <input type="file" accept="image/*" id="image" name="image" value="<%= recipe.image %>" />
    </div>
    <div class="actions">
      <input class="recipe-submit" type="submit" name="create" value="Crear organización" />
    </div>
  </form>