<h1>Menú de organizaciones:</h1>

<% organizations.forEach(organization => { %>
    <%= organization.name %>
    <%= organization.ulr %>
    <br>
    <img src="<%= organization.url %>">
    <br><br>
<% }); %>