<h1>Hello world</h1>

<!-- 
<p>
  App web version
  <%= appVersion %>
</p>
<div id="react-app">Here a React app will be rendered</div> 
-->

<img class="bunnies" src="<%= assetPath('bunny1.jpg') %>">
<img class="bunnies2" src="<%= assetPath('bunny2.jpg') %>">
<img class="bunnies" src="<%= assetPath('bunny3.jpg') %>">

<br><br>

<div class="box">Box1</div>
<div class="box">Box2</div>
<div class="box">Box3</div>
<div class="box">Box4</div>
<div class="box">Box5</div>

<br><br>

<div class="flex-container">
  <div class="flex-item1">Box3</div>
  <div class="flex-item2">Box4</div>
  <div class="flex-item1">Box5</div>
</div>

<br><br>

<div class="grid-container">
  <div class="grid-item">grid-item1</div>
  <div class="grid-item">grid-item2</div>
  <div class="grid-item">grid-item3</div>
  <div class="grid-item">grid-item4</div>
  <div class="grid-item">grid-item5</div>
  <div class="grid-item">grid-item6</div>
  <div class="grid-item">grid-item7</div>
  <div class="grid-item">grid-item8</div>
  <div class="grid-item">grid-item9</div>
</div>

<br><br>
<div class="floating-right">Hello!</div>
<div class="floating-left">Bye</div>

<br><br>